.concept {
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.concept__box {
  // max-width: 738px;
  // margin-right: auto;
  // margin-left: auto;
  // padding-left: 0;
  // padding-right: 0;
  //   @media screen and (min-width: 1200px) {
  //     margin-right: auto;
  //     margin-left: auto;
  //     max-width: 1170px;
  //   }
}
.concept__wrapp {
  // display: flex;
  // justify-content: space-between;
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.concept__list {
  // width: 450px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-bottom: 30px;
  //   padding-left: 0;
  //   padding-right: 0;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and(min-width:768px) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;

    // padding-left: 0;
    // padding-right: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.concept__icon {
  display: flex;
  height: 120px;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.concept__icon-svg {
  display: flex;
  background-color: #f5f4fa;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.concept__title {
  @include fonts(700, 14px, 1.14, 0.03em);
  color: #212121;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.concept__description {
  @include fonts(400, 14px, 1.71, 0.04em);
  color: var(--main-text-color);
}
