.footer-block  {
    background: var(--fonts-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-height: 252px;
}
.footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer__contact{
    margin-right: 70px;
}
.footer__logo {
    @include fonts(700, 26px, 1.19, 0.03em);
    color: var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    margin-bottom: 20px;
    display: block;
}
.footer__logo > span {
    color: var(--general-color);
}
.footer__contact-item:not(:last-child) {
    margin-bottom: 9px;
}
.footer__contact-addres {
    @include fonts(400, 14px, 1.71, 0.03em);
    color: var(--general-color);
    font-style: normal;
    margin-bottom: 9px;
}
.footer__contact-mail,
.footer__contact-tel{
    @include fonts(400, 14px, 1.71, 0.03em);
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.footer__social-title {
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--general-color);
    margin-bottom: 20px;
}
.social__link{
    background: #ffffff1a;
}
.social__link-icon {
    width: 20px;
    height: 20px;
    margin: 12px;
    fill: var(--general-color);
}
.footer__social-block{
    margin-right: 94px;
}
.subscript__title{
    @include fonts(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.subscript__inside-mail{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    background: #2F303A;
    margin-right: 12px;
}
.subscript__btn{
    @include fonts(700, 16px, 1.87, 0.06em);
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--general-color);
    border: none;
    padding-left: 29px;
    } 
.btn__label{
    display: flex;
    align-items: center;
}
.btn__icon-telegram{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
















