.hero{
    margin-left: 0;
}
.main-hero {
    background-image: linear-gradient(#2f303a66 10%, #2f303a66 80%),
url(../../images/img-for-hw8/img/hero/hero.jpg);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-position: center;
    width: 480px;
    
    @media screen and (min-width: 480px){
    width: 768px;
    background-image: linear-gradient(#2f303a66 10%, #2f303a66 80%),
    url(../../images/img-for-hw8/img/hero/hero-tablet.jpg);
    }
}
.hero__title {
    @include fonts(900, 26px, 1.61, 0.06em);
    color: var(--general-color);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
        @media screen and (min-width: 480px){
             @include fonts(900, 26px, 1.61, 0.06em);
    }
}
.hero__btn {
    @include fonts(700, 16px, 1.87, 0.06em);
    color: var(--general-color);
    background: var(--accent-color);
    cursor: pointer;
    align-items: center;
    text-align: center;
    font-family: inherit;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
}
