.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;
    opacity: 1;
    visibility: visible;
    transition-duration: 250ms;
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-btn {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
      &:hover,
      &:focus{
        fill: var(--accent-color);
    }
}
.close-span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    padding: 40px;
}
.title-modal {
  @include fonts(700, 20px, 1.15, 0.03em);
  text-align: center;
  color: #212121;
  padding-bottom: 12px;
}
.form-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-label {
  @include fonts(400, 12px, 1.16, 0.01em);
    display: flex;
    margin-bottom: 4px;
    color: #757575;
}
.form-input {
    display: flex;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    position: relative;
    padding-left: 42px;
      &:focus {
        border: 1px solid #2196f3;
      }
      &:focus ~ .name-svg,
      &:focus ~ .mail-svg,
      &:focus ~ .tel-svg {
    border: none;
    fill: var(--accent-color);
  }
}
.form-field {
    margin-bottom: 10px;
}
.span-input {
    display: flex;
    position: relative;
}
.mail-svg,
.tel-svg,
.name-svg {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
}
.coment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.label-coment {
  @include fonts(400, 12px, 1.16, 0.01em);
  margin-bottom: 4px;
  color: #757575;
}
.text-coment {
  @include fonts(400, 14px, 1.16, 0.01em);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-family: Roboto;
  outline: none;
  color: rgba(117, 117, 117, 0.5);
    &:focus {
      border: 1px solid #2196f3;
    }
}
.link-dill {
  color: var(--accent-color);
}
.label-dill {
  @include fonts(400, 14px, 1.71, 0.03em);
  display: flex;
  align-items: center;
  color: #757575;
}
.block-dill-svg {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.label.dill {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.svg-dill {
  display: flex;
  align-items: center;
  margin-right: 7px;
}
.modal-chek {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    &:focus + .chek-item,
    &:checked + .chek-item {
      background-size: contain;
      border: 2px solid var(--accent-color);
      background-color: var(--accent-color);
      background-size: contain;
    }
}
.chek-item {
  display: block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.dispatch-btn{
  @include fonts(700, 16px, 1.87, 0.06em);
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--general-color);
  display: flex;
  padding: 10px 55px;
  cursor: pointer;
}