.section-our-team {
  background: #f5f4fa;
  width: 479px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  @media screen and(min-width: 768px) {
    width: 768px;
  }
  @media screen and(min-width: 1200px) {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.members {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 450xp;
  @media screen and(max-width: 767px) {
    width: 450px;
  }
  @media screen and(min-width: 768px) {
    width: 738px;
  }
  @media screen and(min-width: 1200px) {
    width: 1170px;
  }
}
.members__title {
  @include fonts(700, 36px, 1.16, 0.03em);
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 50px;
  // @media screen and (min-width: 768px) {
  //   max-width: 738px;
  // }
}
.members__list {
  // color: aquamarine;
  @media screen and(min-width: 768px) {
    // width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and(min-width: 1200px) {
    // width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  // width: 100%;
  // margin: 0;

  // display: flex;
  // margin-right: -30px;
}
.members__item {
  width: 450px;
  flex-basis: calc(100% / 4 - 30px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 354px;
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.members__card-team {
  padding-bottom: 30px;
  padding-top: 30px;
  background: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.card-team__name {
  @include fonts(500, 16px, 1.18, 0.03em);
  color: var(--main-title-color);
  text-align: center;
  margin-bottom: 10px;
}
.card-team__about {
  @include fonts(400, 16px, 1.18, 0.03em);
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--color-for-svg);
  transition-duration: 250ms;
  transition-property: background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--general-color);
  }
}

.person-soc-link {
  margin: 12px;
  fill: currentColor;
}
