.conteiner {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    @media screen and (min-width:480px) {
        width: 738px;
        margin-left: 15px;
    }
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width:480px) {

    }
}