.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}
body {
    font-family: "Roboto", "Releway", Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0;
}

